@font-face {
  font-family: "Kalligraaf Arabic";
  src: url("../webfonts/KalligArb-Medium.woff2") format("woff2"),
    url("../webfonts/KalligArb-Medium.woff") format("woff"),
    url("../webfonts/KalligArb-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kalligraaf Arabic";
  src: url("../webfonts/KalligArb-Bold.woff2") format("woff2"),
    url("../webfonts/KalligArb-Bold.woff") format("woff"),
    url("../webfonts/KalligArb-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kalligraaf Arabic";
  src: url("../webfonts/KalligArb-SemiBold.woff2") format("woff2"),
    url("../webfonts/KalligArb-SemiBold.woff") format("woff"),
    url("../webfonts/KalligArb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kalligraaf Arabic";
  src: url("../webfonts/KalligArb-Regular.woff2") format("woff2"),
    url("../webfonts/KalligArb-Regular.woff") format("woff"),
    url("../webfonts/KalligArb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kalligraaf Arabic";
  src: url("../webfonts/KalligArb-Light.woff2") format("woff2"),
    url("../webfonts/KalligArb-Light.woff") format("woff"),
    url("../webfonts/KalligArb-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Kalligraaf Arabic", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: relative;
}
.overflow {
  overflow: hidden;
}
:root {
  --main-color: #b772ee;
  --main-hover: #ededed;
  --sec-color: #f6f6f6;
  --black-color: #000000;
  --white-color: #ffffff;
}
img {
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
}
a {
  text-decoration: none;
}
/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black-color);
}
/*  */
.content-section {
  padding: 20px 0 20px;
}
.custom-container {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  min-height: calc(100vh - 60px);
}
.section-deader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  gap: 9px;
}
.section-title {
  font-weight: 400;
  font-size: 20px;
  color: #212121;
  margin: 0;
}
.back-btn {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding-top: 4px;
}
html[dir="ltr"] .back-btn {
  transform: scaleX(-1);
}
.order-item {
  background-color: var(--white-color);
  padding: 14px 18px 18px;
  box-shadow: 0px 4px 4px 0px #f7f7f71f;
  border-radius: 10px;
  margin-bottom: 15px;
}
.order-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}
.order-head {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 300;
  font-size: 14px;
  color: var(--black-color);
}
.order-head figure {
  margin: 0;
  padding: 0;
  max-width: 20px;
  max-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-time {
  font-weight: 300;
  font-size: 12px;
  color: #7a7d84;
}
.order-cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}
.detail-item {
  background-color: var(--main-hover);
  border-radius: 10px;
  padding: 5px 13px;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 50px;
}
.detail-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.detail-name {
  font-weight: 300;
  font-size: 12px;
  color: var(--black-color);
  margin: 0;
}
.detail-desc {
  font-weight: 400;
  font-size: 12px;
  color: var(--black-color);
  margin: 0;
}
.order-qr {
  background-color: var(--white-color);
  padding: 25px;
  box-shadow: 0px 4px 4px 0px #f7f7f71f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.order-qr figure {
  max-width: 77px;
  max-height: 77px;
  position: relative;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-ancor {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none !important;
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #acacac1f;
  width: 100%;
  height: 48px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: button;
  transition: all 0.3s ease-in-out;
}
.custom-ancor:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}
.invoice-deader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #c3c3c3;
}
.invoice-title {
  font-weight: 700;
  font-size: 44px;
  color: var(--black-color);
  margin: 0;
}
.invoice-name {
  font-weight: 400;
  font-size: 16px;
  color: #212121;
  margin: 0;
}
.invoice-number {
  font-weight: 300;
  font-size: 12px;
  color: #212121;
  margin-bottom: 0px;
}
.contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 1px;
}
.contact-name {
  font-weight: 400;
  font-size: 16px;
  color: #212121;
}
.contact-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-btn a {
  display: inline-flex;
}
.contact-number {
  font-weight: 400;
  font-size: 16px;
  color: #212121;
  margin-bottom: 7px;
}
.invoice-container {
  background-color: var(--white-color);
  padding: 18px 18px 50px;
  box-shadow: 0px 4px 4px 0px #f7f7f71f;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.invoice-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
}
.invoice-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  box-shadow: 0px 4px 4px 0px #f7f7f71f;
  border-radius: 10px;
  background-color: var(--main-hover);
  padding: 8px 14px;
}
.invoice-info {
  font-weight: 400;
  font-size: 12px;
  color: var(--black-color);
}
.invoice-desc {
  font-weight: 300;
  font-size: 14px;
  color: #7a7d84;
}
.invoice-info.shipping {
  font-weight: 700;
  font-size: 16px;
  color: var(--black-color);
}
.invoice-desc.shipping {
  font-weight: 600;
  font-size: 18px;
  color: var(--black-color);
}
